.home-hero{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  gap: 1.5rem;
  margin: 3rem;
  border-radius: 10px;
}

.home-carousel{
  text-align: center;
}

.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}



@media (min-width: 1024px) {
    .home-main{
      margin-top: 1rem;
    }
  }