:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}








/* MOBILE PHONE */

.app-layout{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-image:  linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.8)), url(../public/polonia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/*Header*/

.app-header{
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.3);
}


.main-btn-login{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color:rgba(1, 117, 143, 0.8);

    padding: 0.3rem 1rem;
    border-radius: 5px;
}


@media (min-width: 1024px) {
  .nav-container{
    display: flex;
  }
}













/*Main*/

.app-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

p{
  color: antiquewhite;
}
h2{
  color: antiquewhite;
}
a{
  color: antiquewhite;
  font-weight: 400;
  text-decoration: none;
  margin: 1rem;
}


/* Card inicio*/

.main-card{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  margin: 4rem 0;
  border-radius: 10px;
  gap: 1rem;
  width: 80%;
}

.main-btn-more{
  width: 150px;
  background-color: rgb(5, 188, 188);
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}





/* TABLE */

@media (min-width: 768px) {
  
}





/* PC */

@media (min-width: 1024px) {
  .main-card{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    margin: 4rem 0;
    border-radius: 10px;
    gap: 1rem;
  }
}
