.app-header{
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.3);
}


.btns-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-btn-login{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    
    border: 2px solid white;
    padding: 4px 12px;
    border-radius: 5px;
}